
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section IndexAdmin{ 
    Trang chủ
}

<div class="row">
    <ol class="breadcrumb">
        <li class="active">Quản lý hội thao</li>
    </ol>
</div><!--/.row-->
