@model QLHoiThaoProject.Models.EFModel.QUYDINH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section IndexAdmin{
    Quản lý Quy định thi đấu
}
<div class="row">
    <ol class="breadcrumb">
        <li class="active">Thông tin quy định</li>
    </ol>
</div><!--/.row-->
<div>

    <dl class="dl-horizontal">
        <dt>
            Tên môn thi đấu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTHIDAU.TENMTD)
        </dd>

        <dt>
            Mô tả quy định
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
            
        </dt>

        <dd>
            <button class="btn">@Html.ActionLink("Sửa", "Edit", new { id = Model.IDQUYDINH })</button>
            <button class="btn">@Html.ActionLink("Quay lại", "Index")</button>
        </dd>

    </dl>
</div>

