@model QLHoiThaoProject.Models.EFModel.LIENHE

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section IndexAdmin{
    Quản lý Liên hệ
}
<div class="row">
    <ol class="breadcrumb">
        <li class="active">Chi tiết liên hệ</li>
    </ol>
</div><!--/.row-->

<div>

    <dl class="dl-horizontal">
        <dt>
            Tên đơn vị
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONVI)
        </dd>

        <dt>
            Tiêu đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIEUDE)
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG)
        </dd>

        <dt>

        </dt>

        <dd>
            <button class="btn">@Html.ActionLink("Quay lại", "Index")</button>
        </dd>

    </dl>
</div>

